.switcher {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 38px;
  z-index: 3;
}

.switcher input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-track {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 34px;
  transition: background-color 0.4s ease-in-out;
  font-size: 11px;
  font-weight: 700;
  user-select: none;
}

.slider-track:before {
  position: absolute;
  content: "👎";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: #f0f0f0;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), content 0.4s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-size: 16px;
  z-index: 2;
}

input:checked + .slider-track {
  background-color: #28a745;
}

input:checked + .slider-track:before {
  transform: translateX(67px);
  content: "👍";
}

.label-problem, .label-solved {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1;
}

.label-problem {
  right: 0;
  color: #ddd;
}
.label-solved {
  left: 0;
  color: #fff;
  padding-left: 2px;
}

.switcher input:not(:checked) ~ .slider-track .label-problem { opacity: 1; transform: translateX(0); }
.switcher input:not(:checked) ~ .slider-track .label-solved { opacity: 0; transform: translateX(20px); }
.switcher input:checked ~ .slider-track .label-problem { opacity: 0; transform: translateX(-20px); }
.switcher input:checked ~ .slider-track .label-solved { opacity: 1; transform: translateX(0); }